/*  Color Declarations  */
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

html,
body {
  height: 100%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ===================
    ALL: Blue Theme
   =================== */
.header-container {
  border-bottom: 20px solid #e67e22; }

.footer-container,
.main aside {
  border-top: 20px solid #e67e22; }

.header-container,
.footer-container,
.main aside {
  background: #666666; }

.title {
  color: white; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e67e22;
  border: 1px solid white;
  transition: background 0.2s; }
  @media only screen and (min-width: 1140px) {
    nav a {
      background: transparent;
      padding: 10px 0; } }
  nav a:hover {
    text-decoration: underline;
    background: #e67e22;
    transition: background 0.2s; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 16px; }

.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 22%;
    margin: 0 1.7%; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  nav a {
    width: 45%;
    margin: 0 2% 2% 0;
    display: inline-block; }

  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left; }

  nav {
    float: right;
    width: 45%;
    margin-top: 2rem; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    width: 50%;
    margin: 0 auto; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; }

  nav {
    margin-top: 1rem; }

  nav a {
    width: 22%;
    margin: 0 2% 0 0; }

  .main aside {
    float: right;
    width: 28%; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Lato', sans-serif; }

header {
  padding-top: 0.3125em; }
  @media only screen and (min-width: 1140px) {
    header {
      padding-top: 2em; } }

input[type="text"],
input[type="email"] {
  padding: 6px 5px;
  width: 95%;
  border: none; }

.contact-form input[type="text"],
.contact-form input[type="email"] {
  padding: 6px 5px;
  width: 95%;
  border: 1px solid black; }
  @media only screen and (min-width: 480px) {
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
      width: 55%; } }
  @media only screen and (min-width: 750px) {
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
      width: 70%; } }
  @media only screen and (min-width: 1140px) {
    .contact-form input[type="text"],
    .contact-form input[type="email"] {
      width: 65%; } }

input[type="radio"] {
  margin-left: 0.625rem;
  margin-right: 0.1875rem; }

.photo-bkg {
  background: url("../img/traffic2.jpg") no-repeat center;
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 75px; }
  @media only screen and (min-width: 1140px) {
    .photo-bkg {
      height: 254px; } }

.photo-mask {
  height: 75px;
  width: 100%;
  background: url("../img/bkg-mask.png") no-repeat center bottom; }
  @media only screen and (min-width: 1140px) {
    .photo-mask {
      height: 254px; } }

.brand {
  color: white;
  text-align: center; }
  .brand h1 {
    display: block;
    line-height: 31px; }
  .brand h2 {
    display: none; }
  @media only screen and (min-width: 750px) {
    .brand {
      float: left;
      text-align: initial;
      width: 55%; }
      .brand h2 {
        display: block; } }

.logo {
  max-height: 3.3rem; }
  @media only screen and (min-width: 768px) {
    .logo {
      float: left;
      margin-top: 1.625rem;
      /* 34px / 16px */
      margin-right: 1rem; } }
  @media only screen and (min-width: 1140px) {
    .logo {
      float: left;
      margin-top: initial;
      margin-right: 0.625em;
      max-height: 6.25em; } }

.rubberBand {
  -webkit-animation-delay: 5s; }

.header-phone {
  color: white;
  text-align: center; }
  .header-phone a {
    color: #eab877; }
  @media only screen and (min-width: 1140px) {
    .header-phone {
      float: right;
      text-align: initial;
      margin-right: 2%; } }

.image-wrapper {
  width: 100%; }
  @media only screen and (min-width: 1140px) {
    .image-wrapper {
      width: 57%; } }

.traffic-img {
  width: 30%;
  margin-right: 2%; }

.content h1 {
  line-height: 2rem; }

.service-item img {
  width: 50%;
  display: block;
  margin: 0 auto; }
.service-item p {
  line-height: 1.375em; }
@media only screen and (min-width: 750px) {
  .service-item img {
    max-width: 200px;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem; } }
@media only screen and (min-width: 1140px) {
  .service-item img {
    width: 30%;
    margin-right: 1rem; }
  .service-item ul {
    list-style-type: none; } }

.border-top {
  border-top: 1px solid black; }

.input-group {
  margin-bottom: 0.625rem; }

.submit-btn {
  padding: 0.3125rem 1rem;
  background-color: #e67e22;
  border: none;
  color: white; }
  .submit-btn:hover {
    background-color: #cd6d17; }

.lights-img {
  display: block;
  width: 80%;
  max-width: 25rem;
  /* 400px / 16 = 25) */
  margin: 0 auto 1rem auto; }
  @media only screen and (min-width: 1140px) {
    .lights-img {
      width: 50%; } }

#map {
  width: 95%;
  height: 12rem;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    #map {
      width: 47%;
      height: 600px;
      float: left;
      margin-right: 3%; } }

.contact-section {
  text-align: center;
  padding: 0.625rem; }
  .contact-section ul {
    list-style-type: none;
    -webkit-padding-start: 0; }
  .contact-section a {
    color: #e67e22; }
  @media only screen and (min-width: 768px) {
    .contact-section {
      margin-left: 50%;
      padding: 0 0 0 9%;
      border-left: 1px solid black;
      text-align: initial; } }

@media only screen and (min-width: 1140px) {
  .content {
    width: 57%;
    float: left; } }

/*# sourceMappingURL=style.css.map */
