/*  Color Declarations  */

$mainColor: rgb(102, 102, 102);
$accentColor: rgb(230, 126, 34);
$linkButton: rgb(230, 126, 34);
$headerText: rgb(255, 255, 255);
$headerPhoneLink: rgba(234, 184, 119, 1)
