@import '_colors';
@import 'main';


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
    font-family: 'Lato', sans-serif; 
}

header { 
    padding-top: 0.3125em;
    
    @media only screen and (min-width: 1140px) {
        padding-top: 2em;
    }
}

input[type="text"],
input[type="email"] { 
    padding: 6px 5px;
    width: 95%;
    border: none;
}

input[type="radio"] {
    margin-left: 0.625rem;
    margin-right: 0.1875rem;
}

.photo-bkg {
    background: url("../img/traffic2.jpg") no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 75px;
        
    @media only screen and (min-width: 1140px) {
        height: 254px;
    }
}

.photo-mask { 
    height: 75px; 
    width: 100%;
    background: url("../img/bkg-mask.png") no-repeat center bottom;
    
    @media only screen and (min-width: 1140px) {
        height: 254px;
    }
}

.brand { 
    color: rgba(255, 255, 255, 1); 
    text-align: center;
    h1 { 
        display: block;
        line-height: 31px;
    }
    h2 {
        display: none;
    }
    
    @media only screen and (min-width: 1140px) {
        float: left;
        text-align: initial;
        width: 55%;
        
        h2 {
            display: block;
        }
    }
}

.logo { 
    max-height: 2.25em; 
    
    @media only screen and (min-width: 1140px) {
        float: left;
        margin-right: 0.625em;
        max-height: 6.25em;
    }
}

.header-phone {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    a { 
        color: rgba(234, 184, 119, 1); 
    }
    
    @media only screen and (min-width: 1140px) {
        float: right;
        text-align: initial;
    }
}

.content h1 { line-height: 2rem; }

.service-item {
    img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    p {
        line-height: 1.375em;
    }
    @media only screen and (min-width: 1140px) {
        img { 
            width: 30%;
            float: left;
            margin-right: 15px;
        }
        ul {
            list-style-type: none;
        }
    }
}

.border-top { border-top: 1px solid rgb(0, 0, 0); }

.input-group {
    margin-bottom: 0.625rem;
}

.submit-btn {
    padding: 0.3125rem 1rem;
    background-color: $accentColor;
    border: none;
    &:hover {
        background-color: darken($accentColor, 7%);
    }
}
    
#map {
    width: 200px;
    height: 500px;
}
    

@media only screen and (min-width: 1140px) {
    .content {
        width: 57%;
        float: left;
    }
}
    
